#title-page {
    text-align: right;

    div#extract-date {
        font-weight: bold;
        margin-bottom: 1.4em;
    }

    .authors {
        margin-top: 0;
        margin-bottom: 0;

        div {
            margin-bottom: 1.4em;

            p {
                margin-top: 0;
                margin-bottom: 0;
                font-size: .8em;
            }

            .author-name {
                font-weight: bold;
                font-size: 1.1em;
            }
        }
    }

    div#copyright {
        border-top: 2px groove gray;
        border-bottom: 2px groove gray;

        text-align: left;
        font-size: .6em;
    }
}

#fm-component-description {
	dt {
		font-weight: bold;
	}

	dd {
		text-align: justify;
        width: 50%;
        min-width: 450px;
        max-width: 600px;
	}
}

ul#toc-list {
    li {
        font-weight: bold;
        ul {
            li {
                font-weight: normal;
            }
        }
    }
}

//  sectionColorsInt["OV"] = 0x99CCFF;
//            sectionColorsInt["CP"] = 0x99FF99;
//            sectionColorsInt["CPS"] = 0xD0EBBF;
//            sectionColorsInt["POP"] = 0xFFE389;
//            sectionColorsInt["AS"] = 0xCDABE7;
//            sectionColorsInt["RI"] = 0xE2C4A6;
//            sectionColorsInt["TI"] = 0xFFA3A3;
$section1-base-color: rgb(153,204,255);
$section1-color2: lighten($section1-base-color, 10%);
$section1-color3: lighten($section1-base-color, 5%);
$section1-color4: lighten($section1-color3, 7%);
$section1-color5: lighten($section1-color3, 5%);
$section1-color6: lighten($section1-color5, 7%);
$section1-color7: lighten($section1-color5, 5%);
$section1-color8: lighten($section1-color7, 7%);
$section2-base-color: rgb(153,255,153);
$section2-color2: lighten($section2-base-color, 10%);
$section2-color3: lighten($section2-base-color, 5%);
$section2-color4: lighten($section2-color3, 7%);
$section2-color5: lighten($section2-color3, 5%);
$section2-color6: lighten($section2-color5, 7%);
$section2-color7: lighten($section2-color5, 5%);
$section2-color8: lighten($section2-color7, 7%);
$section3-base-color: rgb(208,235,191);
$section3-color2: lighten($section3-base-color, 10%);
$section3-color3: lighten($section3-base-color, 5%);
$section3-color4: lighten($section3-color3, 7%);
$section3-color5: lighten($section3-color3, 5%);
$section3-color6: lighten($section3-color5, 7%);
$section3-color7: lighten($section3-color5, 5%);
$section3-color8: lighten($section3-color7, 7%);
$section4-base-color: rgb(255,227,137);
$section4-color2: lighten($section4-base-color, 10%);
$section4-color3: lighten($section4-base-color, 5%);
$section4-color4: lighten($section4-color3, 7%);
$section4-color5: lighten($section4-color3, 5%);
$section4-color6: lighten($section4-color5, 7%);
$section4-color7: lighten($section4-color5, 5%);
$section4-color8: lighten($section4-color7, 7%);
$section5-base-color: rgb(205, 171,231);
$section5-color2: lighten($section5-base-color, 10%);
$section5-color3: lighten($section5-base-color, 5%);
$section5-color4: lighten($section5-color3, 7%);
$section5-color5: lighten($section5-color3, 5%);
$section5-color6: lighten($section5-color5, 7%);
$section5-color7: lighten($section5-color5, 5%);
$section5-color8: lighten($section5-color7, 7%);
$section6-base-color: rgb(226,196,166);
$section6-color2: lighten($section6-base-color, 10%);
$section6-color3: lighten($section6-base-color, 5%);
$section6-color4: lighten($section6-color3, 7%);
$section6-color5: lighten($section6-color3, 5%);
$section6-color6: lighten($section6-color5, 7%);
$section6-color7: lighten($section6-color5, 5%);
$section6-color8: lighten($section6-color7, 7%);
$section7-base-color: rgb(255,163,163);
$section7-color2: lighten($section7-base-color, 10%);
$section7-color3: lighten($section7-base-color, 5%);
$section7-color4: lighten($section7-color3, 7%);
$section7-color5: lighten($section7-color3, 5%);
$section7-color6: lighten($section7-color5, 7%);
$section7-color7: lighten($section7-color5, 5%);
$section7-color8: lighten($section7-color7, 7%);
$section8-base-color: teal;
$section8-color2: lighten($section8-base-color, 10%);
$section8-color3: lighten($section8-base-color, 5%);
$section8-color4: lighten($section8-color3, 7%);
$section8-color5: lighten($section8-color3, 5%);
$section8-color6: lighten($section8-color5, 7%);
$section8-color7: lighten($section8-color5, 5%);
$section8-color8: lighten($section8-color7, 7%);
$section9-base-color: yellow;
$section9-color2: lighten($section9-base-color, 10%);
$section9-color3: lighten($section9-base-color, 5%);
$section9-color4: lighten($section9-color3, 7%);
$section9-color5: lighten($section9-color3, 5%);
$section9-color6: lighten($section9-color5, 7%);
$section9-color7: lighten($section9-color5, 5%);
$section9-color8: lighten($section9-color7, 7%);
$th-background-color: #A151E7;

.section1-background { background: $section1-base-color; }
.section1-lev1-main  { background: $section1-base-color; }
.section1-lev1-sub   { background: $section1-color2; }
.section1-lev2-main  { background: $section1-color3; }
.section1-lev2-sub   { background: $section1-color4; }
.section1-lev3-main  { background: $section1-color5; }
.section1-lev3-sub   { background: $section1-color6; }
.section1-lev4-main  { background: $section1-color7; }
.section1-lev4-sub   { background: $section1-color8; }

.section2-background { background: $section2-base-color; }
.section2-lev1-main  { background: $section2-base-color; }
.section2-lev1-sub   { background: $section2-color2; }
.section2-lev2-main  { background: $section2-color3; }
.section2-lev2-sub   { background: $section2-color4; }
.section2-lev3-main  { background: $section2-color5; }
.section2-lev3-sub   { background: $section2-color6; }
.section2-lev4-main  { background: $section2-color7; }
.section2-lev4-sub   { background: $section2-color8; }

.section3-background { background: $section3-base-color; }
.section3-lev1-main  { background: $section3-base-color; }
.section3-lev1-sub   { background: $section3-color2; }
.section3-lev2-main  { background: $section3-color3; }
.section3-lev2-sub   { background: $section3-color4; }
.section3-lev3-main  { background: $section3-color5; }
.section3-lev3-sub   { background: $section3-color6; }
.section3-lev4-main  { background: $section3-color7; }
.section3-lev4-sub   { background: $section3-color8; }

.section4-background { background: $section4-base-color; }
.section4-lev1-main  { background: $section4-base-color; }
.section4-lev1-sub   { background: $section4-color2; }
.section4-lev2-main  { background: $section4-color3; }
.section4-lev2-sub   { background: $section4-color4; }
.section4-lev3-main  { background: $section4-color5; }
.section4-lev3-sub   { background: $section4-color6; }
.section4-lev4-main  { background: $section4-color7; }
.section4-lev4-sub   { background: $section4-color8; }

.section5-background { background: $section5-base-color; }
.section5-lev1-main  { background: $section5-base-color; }
.section5-lev1-sub   { background: $section5-color2; }
.section5-lev2-main  { background: $section5-color3; }
.section5-lev2-sub   { background: $section5-color4; }
.section5-lev3-main  { background: $section5-color5; }
.section5-lev3-sub   { background: $section5-color6; }
.section5-lev4-main  { background: $section5-color7; }
.section5-lev4-sub   { background: $section5-color8; }

.section6-background { background: $section6-base-color; }
.section6-lev1-main  { background: $section6-base-color; }
.section6-lev1-sub   { background: $section6-color2; }
.section6-lev2-main  { background: $section6-color3; }
.section6-lev2-sub   { background: $section6-color4; }
.section6-lev3-main  { background: $section6-color5; }
.section6-lev3-sub   { background: $section6-color6; }
.section6-lev4-main  { background: $section6-color7; }
.section6-lev4-sub   { background: $section6-color8; }

.section7-background { background: $section7-base-color; }
.section7-lev1-main  { background: $section7-base-color; }
.section7-lev1-sub   { background: $section7-color2; }
.section7-lev2-main  { background: $section7-color3; }
.section7-lev2-sub   { background: $section7-color4; }
.section7-lev3-main  { background: $section7-color5; }
.section7-lev3-sub   { background: $section7-color6; }
.section7-lev4-main  { background: $section7-color7; }
.section7-lev4-sub   { background: $section7-color8; }

.section8-background { background: $section8-base-color; }
.section8-lev1-main  { background: $section8-base-color; }
.section8-lev1-sub   { background: $section8-color2; }
.section8-lev2-main  { background: $section8-color3; }
.section8-lev2-sub   { background: $section8-color4; }
.section8-lev3-main  { background: $section8-color5; }
.section8-lev3-sub   { background: $section8-color6; }
.section8-lev4-main  { background: $section8-color7; }
.section8-lev4-sub   { background: $section8-color8; }

.section9-background { background: $section9-base-color; }
.section9-lev1-main  { background: $section9-base-color; }
.section9-lev1-sub   { background: $section9-color2; }
.section9-lev2-main  { background: $section9-color3; }
.section9-lev2-sub   { background: $section9-color4; }
.section9-lev3-main  { background: $section9-color5; }
.section9-lev3-sub   { background: $section9-color6; }
.section9-lev4-main  { background: $section9-color7; }
.section9-lev4-sub   { background: $section9-color8; }

.function-list-toc {
    margin-left: 20%;
    list-style: none;
    width: 50%;
    font-size: 1.4em;

    li {
        padding-left: 15px;

        ul {
            list-style: none;
        }
    }
}

.function-col {
	width: 20%;
	max-width: 20%;
}

.criteria-col {
	width: 65%;
}

.reference-col {
	width: 8%;
}

.change-col {
	width: 4%;
}

.need-review {
    background-color: red;
    font-style: italic;
    color: white;
}

.function-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.lhs-text {
    margin-left: 10px;
    margin-right: 5px;
}

.summary-text {
    padding-left: 20px;
    padding-right: 10px;
}

.fn-references {
    padding-left: 20px;
    padding-right: 10px;

    dt {
        font-weight: bold;
    }

    dd {
        ul {
            margin-top: 0px;
        }
    }
}

.function-list {
	min-width: 750px;
	max-width: 80%;
	border-collapse: collapse;

    thead {
       background: $th-background-color;
    }

	th {
        border: 1px solid black;
	   border-collapse: collapse;
    }

    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
}

.value-column {
	text-align: center;
}

.function-description {
	vertical-align: top;
}

.criteria-list {
    margin: 0;
    padding-left: 0;
    list-style-position: inside;
    vertical-align: top;

    li {
        border-bottom: 1px solid black;
        margin: 5;
        display: box;
    }

    li:last-child {
        border-bottom: none;
        margin: 5;
    }
}

.criteria-text {
    min-width: 81%;
	max-width: 81%;
    border-right: 1px solid black;
    display: box;
}

.criteria-description {
    padding-left: 43px;
    text-indent: -22px;
    padding-right: 10px
}

.fp-criteria-reference {
    width: 8%;
    text-align: center;
}

.criteria-reference {
    width: 8%;
    text-align: center;
    float: right;
    display: box;
}

.fp-criteria-change {
    width: 5%;
    text-align: center;
}

.criteria-change {
    width: 5%;
    text-align: center;
    float: right;
    border-left: 1px solid black;
    display: box;
}

.fp-criteria-priority {
    text-align: center;
}

.criteria-row {
    width: 4%;
    text-align: center;
    float: right;
    border-left: 1px solid black;
    display: box;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 25px;
    width: 100%;
    background: $th-background-color;

    ul#bottom-nav {
        list-style: none;
        margin-top: 0;
        margin-left: 40px;
        padding-left: 0px;
        font-size: 1.2em;

        li {
            display: inline-block;
            min-width: 10%;
            text-align: center;

            ul {
                padding-left: 0px;
                list-style: none;
                display: none;

                li {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }

        li:hover > ul {
            border: 1px solid black;
            display: block;
            position: absolute;
            margin-top: 1px;
            font: 10px;
            bottom: 100%;

            li {
                border-bottom: 1px groove white;
                display: list-item;
                text-align: left;
            }
        }
    }
}